@{
    ViewData["Title"] = "Booking Success";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header bg-success text-white">
                    <h1 class="text-center">Booking Success!</h1>
                </div>
                <div class="card-body">
                    <p class="lead">Your booking has been successfully completed.</p>
                    <div class="text-center">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go to Home</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
